<div id="jPlayer"></div>
<div id="playerContainer" style="display:none;">
	<ul id="playerControls">
		<li id="playerPlay">play</li>
		<li id="playerPause">pause</li>
		<li id="playerVolumeMin">min volume</li>
		<li id="playerVolumeMax">max volume</li>
	</ul>

	<div id="playerProgress">
		<div id="playerProgressLoadBar">
			<div id="playerProgressPlayBar"></div>
		</div>
	</div>
	<div id="playerVolumeBar">
		<div id="playerVolumeBarValue"></div>
	</div>

	<div id="playerPlaylistMessage">
		<div id="songTitle"></div>
		<div id="playTime"></div>
		<div id="totalTime"></div>
	</div>
</div>
