<div id="jPlayer"></div>
<div id="player_container">
	<ul id="player_controls">

		<li id="player_play">play</li>
		<li id="player_pause">pause</li>
		<li id="player_volume_min">min volume</li>
		<li id="player_volume_max">max volume</li>
	</ul>

	<div id="player_progress">
		<div id="player_progress_load_bar">
			<div id="player_progress_play_bar"></div>
		</div>
	</div>
	<div id="player_volume_bar">
		<div id="player_volume_bar_value"></div>
	</div>

	<div id="player_playlist_message">
		<div id="song_title">Click the play button of a mp3 file.</div>
		<div id="play_time"></div>
		<div id="total_time"></div>
	</div>
</div>
