<p class="title">
	<%= path(current.folder, false) %>
	&nbsp;
	<span class="small">Rename File</span>
</p>

<p><%= myfile_to_file error_messages_for('file') %></p>

<% form_for :file, @file, :url => folder_file_path(current.folder, @file), :html => {:method => :put} do |form| %>
<%= form.text_field :name, :class => 'focused' %>
<%= submit_tag 'Rename' %>
<% end %>
