<p class="title">
	<%= path(current.folder, false) %>
	&nbsp;
	<span class="small">Upload File</span>
</p>

<p><%= myfile_to_file error_messages_for('file') %></p>

<% form_for :file, @file, :url => folder_files_path(current.folder), :html => {:multipart => true} do |form| %>
<%= form.file_field :source %>
<%= submit_tag 'Upload' %>
<% end %>
