<p class="title">Upload File</p>

<% form_for :file, @file, :url => folder_files_path(current.folder), :html => {:multipart => true} do |form| %>
<%= form.label :source, 'File' %><br />
<%= form.file_field :source %><br />
<br />
<%= submit_tag 'Start Upload' %>
<% end %>

<%= link_to 'Back', folder_path(current.folder) %>