<% checked = @user.group_ids.include? group.id %>

<% if checked and group.administrators? %>
<td style="color:#818181;"><%= check_box('belongs_to_group', group.id, {:checked => checked, :disabled => true}, 'yes', 'no') %> <%= h(group.name) %></td>
<% else %>
<td><%= check_box('belongs_to_group', group.id, {:checked => checked}, 'yes', 'no') %> <%= h(group.name) %></td>
<% end %>

<% if group_counter % 3 == 0 %>
</tr><tr>
<% end %>
