<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Rockflu</title>
	<%= stylesheet_link_tag 'boxroom' %>
</head>
<body>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	<div id="chromeFrame"></div>
	<script>
	CFInstall.check({
		node: "chromeFrame",
		destination: "http://www.waikiki.com"
	});
	</script>

	<div id="top">
		<div class="header">
			<div class="userSettings">
			</div>

			<div class="search">
			</div>
		</div>

		<div class="topNavigation">
			<div class="links">
			</div>
		</div>
	</div>

	<div id="middle">
		<div class="actionLinks">
		</div>

		<div class="content">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<%= yield %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="bottom">
		<%= render :partial=>'shared/footer' %>
	</div>

</body>
</html>